{{ define "main" }}

{{ $questionCount := 1 }}
<div class="faq-page">
{{ with .Site.Data.faqs }}
	{{ range $k, $v := (dict "About Us" .about "Classes and Registration" .registration "For the Parents" .parents) }}

	<h3 id="{{ replaceRE `([^a-zA-Z]+)` "-" (lower $k) }}" class="headline-medium faq-heading">{{ $k }}</h3>
	<div class="questionsAnswers">
		{{ range $v }}
		<div class="faq">
			<input class="question" type="checkbox" id="question{{ $questionCount }}">
			<label class="secondary-container state title-medium" for="question{{ $questionCount }}">
				{{ .question | markdownify }}
				<div class="open">▼</div><div class="close">▲</div>
			</label>
			<div class="answer surface-container-highest body-large">
				{{ $opts := dict "display" "block" }}{{ .answer | $.Page.RenderString $opts }}
			</div>
		</div>
		{{ $questionCount = $questionCount | add 1 }}
		{{ end }}
	</div>
	{{ end }}
{{ end }}
</div>

{{ end }}