{{ define "main" }}
{{ .Content }}
<h3>Contact</h3>
<p>
If you are a newcomer interested in our program and would like to learn more, we encourage you to come in person to check it out. You do not need to be registered for classes to join us. You are welcome to come any day we are in session to meet and play with other homeschool families.
</p>
<p>
Our main gathering time is on Wednesdays, September to May at the <a class="text" href="https://www.seattle.gov/parks/all-community-centers/loyal-heights-community-center" rel="noreferrer noopener" target="_blank">Loyal Heights Community Center and Playfield</a>. If you would like to visit, email us at <a href="mailto:loyalheightshomeschool@gmail.com">loyalheightshomeschool@gmail.com</a>, and we will make sure that one of our parent volunteers is available to give you a tour, answer questions, and introduce you to other families.
</p>
{{ end }}