@use "mycolor";

.class-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  scroll-margin-top: 72px;
  padding: 16px;
  border-radius: 12px;
}

.description {
	flex-grow: 1;
}

.enroll {
	align-self: flex-start;
}

.divider {
  border-top: 1px var(--outline-variant) solid;
  margin-top: 8px;
  margin-bottom: 12px;
}

.class-description-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 8px;
  grid-auto-rows: auto;
}

@media (width <= 679px) {
  .class-description-container {
    grid-template-columns: repeat(1, auto);
  }
}
@media (680px <= width <= 1023px) {
	.class-description-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (1024px <= width <= 1519px) {
  .class-description-container {
    grid-template-columns: repeat(3, auto);
  }
}
@media (1520px <= width) {
  .class-description-container {
    grid-template-columns: repeat(4, auto);
  }
}