@use "mycolor";
@use "elevation";

.questionsAnswers {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 12px;
}

.faq {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.faq-heading {
	scroll-margin-top: 68px;
}

.answer {
	border-radius: 12px;
	padding: 16px;
	display: none;
}

.question + label {
	border-radius: 12px;
	min-height: 40px;
	padding: 7px 16px;

	display: grid;
	grid-template-columns: 1fr min-content;
	place-content: center;
	justify-items: start;
	align-items: center;

	gap: 16px;

	cursor: pointer;
	appearance: none;
	text-decoration: none;

	&:hover {
		@include elevation.level1;
	}
}

.close {
	display: none;
}

.question:checked + label {
	& .close {
		display: block;
	}
	& .open {
		display: none;
	}
}

.question:checked ~ .answer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.question + label:hover {
	background-color: color-mix(in srgb, var(--secondary-container) 92%, var(--on-secondary-container) 8%);
}
.question:target + label,
.question:focus + label {
	background-color: color-mix(in srgb, var(--secondary-container) 90%, var(--on-secondary-container) 10%);
}
.question:checked + label {
	background-color: var(--secondary);
	color: var(--on-secondary);
	fill: var(--on-secondary);
	&:hover {
		background-color: color-mix(in srgb, var(--secondary) 92%, var(--on-secondary) 8%);
	}
	&:active {
		background-color: color-mix(in srgb, var(--secondary) 90%, var(--on-secondary) 10%);
	}
}
.question:checked:focus + label {
	background-color: color-mix(in srgb, var(--secondary) 90%, var(--on-secondary) 10%);
}