@use "mycolor";
@use "elevation";

.questionsAnswers {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
}
.faq {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.faq-heading {
	scroll-margin-top: 68px;
}
.answer {
	padding: 16px;
	display: none;
	flex-direction: column;
	gap: 8px;
}
.question + label {
	border-radius: 12px;
	min-height: 48px;
	padding: 0 16px;

	display: grid;
	grid-template-columns: 1fr min-content;
	place-content: center;
	justify-items: start;
	align-items: center;

	gap: 16px;

	cursor: pointer;
	appearance: none;
	text-decoration: none;
	font-weight: bold;

	@include mycolor.bar;
	@include mycolor.bar-state;

	&:hover {
		@include elevation.level1;
	}
}

.close {
	display: none;
}

.question:checked + label {
	& .close {
		display: block;
	}
	& .open {
		display: none;
	}
}

.question:checked ~ .answer {
	display: flex;
}
.question + label:hover {
	@include mycolor.bar-state;
}
.question:target + label,
.question:focus + label {
	background-color: color-mix(in srgb, mycolor.$bar 90%, mycolor.$bar 10%);
}
.question:checked + label {
	@include mycolor.block;
	@include mycolor.block-state;
}
.question:checked:focus + label {
	background-color: color-mix(in srgb, mycolor.$block 90%, mycolor.$block 10%);
}