@use "mycolor";
@use "elevation";

@use "small-top-app-bar";
@use "schedule";
@use "faq";

* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}
body {
	padding: 88px 32px 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	max-width: 1200px;
	margin: 0 auto;
	font-family: Carlito, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}
main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	& > * {
		max-width: 840px;
		width: 100%;
		margin: 0 auto;
	}
}
h2 {
	text-align: center;
	font-size: 40px;
	line-height: 48px;
}
h3 {
	font-size: 32px;
	line-height: 40px;
}
h4 {
	font-size: 24px;
	line-height: 32px;
}
mark {
	background-color: gold;
	padding-left: 4px;
	padding-right: 4px;
}
input[type=checkbox], input[type=radio] {
	appearance: none;
	outline: none;
	position: absolute;
}
strong {
	font-weight: bold;
}
ul,
ol {
	padding-left: 20px;
}
.banner {
	width: 100%;
	max-width: 100%;
}

.button {
	border-radius: 24px;
	height: 48px;
	padding: 0 24px;
	min-width: max-content;

	font-weight: bold;

	cursor: pointer;
	appearance: none;
	text-decoration: none;

	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	place-items: center;

	@include mycolor.secondary-container;
	@include mycolor.secondary-container-state;

	&:hover {
		@include elevation.level1;
		text-decoration: none;
	}
}

.fab {
	border-radius: 12px;
	height: 48px;
	width: 48px;

	position: fixed;
	right: calc(((100vw - 1200px) / 2) + 32px);
	bottom: 32px;

	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	place-items: center;

	cursor: pointer;
	appearance: none;
	text-decoration: none;

	font-weight: bold;

	@include mycolor.secondary-container;
	@include mycolor.secondary-container-state;
	@include elevation.level2;

	&:hover {
		@include elevation.level3;
		text-decoration: none;
	}
}
@media (width < 1200px) {
	.fab {
		right: 32px;
	}
}
a {
	color: mycolor.$primary;

	cursor: pointer;
	appearance: none;
	text-decoration: none;

	font-weight: bold;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}
.calendar {
	max-width: var(--body-content-width);
	height: 80vh;
	width: 100%;
	margin: 0 auto;
}
.class-description {
	display: flex;
	flex-direction: column;
	gap: 16px;
	scroll-margin-top: 68px;
	padding: 16px;
	border-radius: 12px;
	@include mycolor.outline;
}
.enroll {
	align-self: flex-start;
}
.text-field {
	position: relative;
	width: 100%;
	min-height: 66px;

	& label {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 20px 16px;
		border-radius: 4px;
		outline: 1px solid var(--outline);
		background-color: var(--surface-container-highest);
		color: var(--on-surface-variant);
		fill: var(--on-surface-variant);
	}

	& input,
	& textarea {
		position: absolute;
		z-index: 1;
		background: none;
		outline: none;
		width: calc(100% - 32px);
		caret-color: var(--primary);
		top: 32px;
		left: 16px;
		color: var(--on-surface);
		fill: var(--on-surface);
		&::placeholder {
			color: transparent;
			opacity: 0;
		}
		&:hover + label,
		& + label:hover {
			background-color: color-mix(in srgb, var(--surface-container-highest) 92%, var(--on-surface) 8%);
			cursor: text;
		}
		&:focus + label {
			background-color: color-mix(in srgb, var(--surface-container-highest) 90%, var(--on-surface) 10%);
			padding-top: 8px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			outline: 3px solid var(--primary);
			color: var(--primary);
		}
		&:not(:placeholder-shown) + label {
			padding-top: 8px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
		}
		&:invalid + label {
			outline-color: var(--error);
		}
		&:invalid:focus + label {
			outline-width: 3px;
			color: var(--error);
		}
		&:invalid:hover + label,
		&:invalid + label:hover {
			outline-color: var(--error-container);
		}
	}
	& textarea {
		height: calc(100% - 40px);
		resize: none;
	}
}

#contact-form {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 12px;
	width: 100%;
	scroll-margin-top: 72px;
}

.stretchy {
	flex-grow: 1;
	min-height: 144px;
}

.download-links {
	display: flex;
	flex-flow: row nowrap;
	place-items: center;
	place-content: center;
	gap: 24px;
}

@media (width <= 599px) {
	.download-links {
		flex-direction: column;
	}
}