@use "elevation";
@use "mycolor";

.small-top-app-bar {
	background-color: mycolor.$surface;
	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	place-items: center;
	gap: 4px;
	max-width: 1136px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	height: 64px;
	top: 0;
	z-index: 3;
	& h1 {
		flex-grow: 1;
	}
	& > a {
		flex-grow: 1;
	}
}
@media (width < 1200px) {
	.small-top-app-bar {
		width: calc(100% - 64px);
	}
}
@media print {
	.small-top-app-bar {
		position: static;
		max-width: 100%;
		height: auto;
	}
}
.link,
.menu {
	color: mycolor.$on-surface;
	border-radius: 12px;
	height: 48px;
	min-width: 48px;
	padding: 0 8px;
	gap: 8px;
	min-width: max-content;

	font-weight: bold;

	cursor: pointer;
	appearance: none;
	text-decoration: none;

	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	place-items: center;

	&:hover {
		@include elevation.level1;
		text-decoration: none;
	}
	@include mycolor.surface-state;
}
.menu {
	background-color: mycolor.$surface;
}

.large-icon {
	height: 32px;
	width: 32px;
	fill: mycolor.$primary;
}
.small-icon {
	height: 24px;
	width: 24px;
	fill: mycolor.$on-surface;
}

@media (940px <= width) {
	.menu {
		display: none;
	}
	.dropdown {
		display: flex;
		flex-flow: row nowrap;
		place-content: center;
		place-items: center;
		gap: 8px;
	}
}

@media (width < 940px) {
	.dropdown {
		background-color: mycolor.$surface;
		position: absolute;
		right: 0;
		display: none;
		top: 56px;
		flex-direction: column;
		padding: 8px;
		gap: 8px;
		@include elevation.level1;
	}
	nav {
		&:hover .dropdown,
		&:focus .dropdown,
		&:focus-within .dropdown {
			display: flex;
		}
	}
}

h1 {
	font-size: 32px;
	line-height: 32px;
	color: mycolor.$primary;
}
@media (1200px < width) {
	.large-icon {
		height: 36px;
		width: 36px;
	}
}
@media (940px <= width < 1200px) {
	h1 {
		font-size: 28px;
		line-height: 28px;
	}
	.large-icon {
		height: 34px;
		width: 34px;
	}
}
@media (480px <= width < 940px) {
	h1 {
		font-size: 24px;
		line-height: 24px;
	}
}
@media (width < 480px) {
	h1 {
		font-size: 20px;
		line-height: 20px;
	}
}
@media print {
	h1 {
		font-size: 16pt;
		line-height: 16pt;
		color: black;
	}
	.large-icon {
		height: 16pt;
		width: 16pt;
		fill: black;
	}
	header > nav {
		display: none;
	}
}