@use "elevation";

.small-top-app-bar {
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	place-content: center;
	place-items: center;
	gap: 8px;
	width: 100%;
	position: fixed;
	height: 64px;
	padding: 0 32px;
	top: 0;
	left: 0;
	z-index: 3;
	& h1 {
		flex-grow: 1;
	}
	& > a {
		flex-grow: 1;
	}
}

.home-link {
	color: var(--primary);
	& .large-icon {
		fill: var(--on-primary);
		background-color: var(--primary);
	}
}

@media (800px <= width) {
	.menu.button {
		display: none;
	}
	.dropdown {
		display: flex;
		flex-flow: row nowrap;
		place-content: center;
		place-items: center;
		gap: 8px;
	}
}

@media (width <= 799px) {

	.dropdown {
		background-color: white;
		position: absolute;
		right: 24px;
		display: none;
		top: 52px;
		flex-direction: column;
		padding: 8px;
		gap: 8px;
		@include elevation.level1;
	}
	nav {
		&:hover .dropdown,
		&:focus .dropdown,
		&:focus-within .dropdown {
			display: flex;
		}
	}
}